#include <windows.h>

#define APP_VERSION_NUMBER 1,2,4,0
#define APP_VERSION_STRING "1.2.4\0"

IDI_APP_ICON ICON "../assets/LowLatencyCaptureViewer.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION APP_VERSION_NUMBER
 PRODUCTVERSION APP_VERSION_NUMBER
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "seria-aa\0"
            VALUE "FileDescription", "Low Latency Capture Viewer\0"
            VALUE "FileVersion", APP_VERSION_STRING
            VALUE "InternalName", "LowLatencyCaptureViewer.exe\0"
            VALUE "OriginalFilename", "LowLatencyCaptureViewer.exe\0"
            VALUE "ProductName", "Low Latency Capture Viewer\0"
            VALUE "ProductVersion", APP_VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
